@charset "UTF-8";

/*모든 페이지에 공통적으로 적용될 css 처리*/

*{margin: 0 auto;} /*가운데 정렬*/

/*모든 콘텐츠를 포함하는 box */
#wrap {
	width:1280px;
	background:#eeeeee;
	text-align:center;
	position:relative;
}

/*모든 이미지 태그 테두리 없음*/
img {border:0; margin:0;}

/****** FOOTER ********/
#footerBox div{
	background:#777777;
	border:solid 1px #999999;
	margin-top:10px;
	padding:20px;
	margin:0;
}

/**** bottom menu ****/
#bottomMenuBox{
	height:30px;
	line-height:30px;
}
#bottomMenuBox li{
	display:inline-block;
	text-align:center;
	padding:5px;
	list-style:none;
}

#bottomMenuBox li a{
	color:white;
	font-weight:bold;
	text-decoration:none;
}

/********** TOP 이동 버튼 **********/
#moveToTopBox:hover{opacity:0.8; cursor:pointer;}













